<div id="map" class="map"></div>

<script src="https://unpkg.com/deck.gl@^9.4.0/dist.min.js"></script>

<script type="module">
    import * as maplibregl from "https://unpkg.com/maplibre-gl@^6.11.2/dist/maplibre-gl.mjs";

    console.log("Initialising map...")

    var map = new maplibregl.Map({
        container: "map",
        style: "https://tiles.openfreemap.org/styles/positron",
        center: [0, 0],
        zoom: 3
    });

    map.on("style.load", () => {
        map.setProjection({ type: "globe" });
    });

    map.on("load", async () => {
        console.log("Map loaded")

        const layer = new deck.GeoJsonLayer({
            data: "/data.json",

            filled: false,
            stroked: true,
            getLineWidth: 100,
        });

        var overlay = new deck.MapLibreOverlay({
            layers: [layer]
        });

        map.addControl(overlay);
    });
</script>
