<aside class="timeline">
  {% for trip in timeline.trips %}
    <div class="timeline-trip">
      {{ trip.description | markdown }}

      {% for journey in trip.journeys %}
        <ol class="timeline-journey">
          {% for entry in journey.entries %}
            {% if entry.place %}
              <li class="timeline-place">
                <span class="timeline-place-content">{{ entry.place.name }}</span>
              </li>
            {% else %}
              <li class="timeline-travel">
                <span class="timeline-travel-content">
                  <img class="timeline-travel-mode"
                       src="static/modes/{{ entry.mode_of_transport }}.svg"
                       alt="By {{ entry.mode_of_transport }}" />
                  <span class="timeline-travel-distance">
                    {{ entry.distance_km }}km
                  </span>
                  <span class="timeline-travel-dates">
                    {{ entry.origin_date | to_date(entry.destination_date) }}
                  </span>
                </span>
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      {% endfor %}
    </div>
  {% endfor %}
</aside>
