.statistics {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;

    padding: 1rem;
    overflow: scroll;
    background-color: rgba(255, 255, 255, .75);
}

.statistics-table {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.statistics-table dt {
    margin-right: 8px;
}

.statistics-table dd {
    margin: .5rem 0;
}

.statistics-mode {
    width: 24px;
    height: 24px;
}

.statistics-distance {
    font-weight: bold;
}
