.timeline {
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    z-index: 100;

    padding: 1rem;
    overflow: scroll;
    background-color: rgba(255, 255, 255, .75);
}

.timeline-trip {
    margin: 1rem 0 2rem 0;
}

.timeline-journey {
    margin: 1rem 0 1rem 12px;
    border-left: 8px solid #000;
}

.timeline-place {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.timeline-place-content {
    margin-left: -10px;
}

.timeline-place:before {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: block;
    background: #fff;
    border: 6px solid #000;
    line-height: 15px;
    content: " ";
    position: relative;
    left: -19px;
    flex-shrink: 0;
}

.timeline-travel {
    margin: 12px 0 12px 18px;
}

.timeline-travel-content {
    display: flex;
    align-items: center;
}

.timeline-travel-mode {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.timeline-travel-distance {
    font-weight: bold;
    margin-right: 1rem;
}

.timeline-travel-dates {
    color: rgb(100, 100, 100);
}
